{% extends "base.html" %}

{% block title %}ATLAS - Alertas{% endblock %}

{% block content %}
<header class="page-header">
    <div>
        <h1>Alertas financeiros</h1>
        <p>Acompanhe situações financeiras que precisam de atenção.</p>
    </div>
</header>

<section class="panel">
    <h2>Alertas recebidos</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Mensagem</th>
                    <th>Negócio</th>
                    <th>Período</th>
                    <th>Data</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for alerta in alertas %}
                    <tr>
                        <td>{{ alerta.mensagem }}</td>
                        <td>{{ alerta.negocio.nome_negocio }}</td>
                        <td>
                            {% if alerta.periodo_referencia %}
                                {{ alerta.periodo_referencia|date:"m/Y" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ alerta.data_alerta|date:"d/m/Y" }}</td>
                        <td>
                            <span class="status-badge alta">
                                {{ alerta.prioridade }}
                            </span>
                        </td>
                        <td>
                            <span class="status-badge
                                {% if alerta.status_alerta == 'Resolvido' %}
                                    ok
                                {% elif alerta.status_alerta == 'Lido' %}
                                    neutro
                                {% else %}
                                    alerta
                                {% endif %}
                            ">
                                {{ alerta.status_alerta }}
                            </span>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="empty-state">
                            Nenhum alerta financeiro.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}